.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 50vw;
    padding: 30px;
    background: #FFFFFF;
    margin: 20px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 label{
    color: var(--global-company-color);
    display: block;
    width: x;
    height: y;
    text-align: right;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 input[type="file"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
#register_date_birth{
    width: 80%;
    border: none;
    height: 70px;
}
.tabs-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab{
    display:flex;
    width: 150px;
    height: 40px;
    min-width: 80px;
    border-radius: 10px;
    background-color: #fdfdfd;
    border: solid 1px #3e3e3e;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.tab:hover{
    background-color: #2CBBBB;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.active-tab{
    display:flex;
    width: 150px;
    height: 40px;
    min-width: 80px;
    border-radius: 10px;
    background-color: var(--global-company-color);
    border: solid 1px var(--global-company-color);
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}