h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
.about__img {
  
}

.about__img img {
  border-radius: 0.4rem;
  width: 100%;
}
.about__header {
  flex-basis: calc(100% - 2rem);
  flex-direction: row;
  display: flex;
  width: 100%;
  padding: 2rem;
}
.black {
  background-color: #353839;
}
@media screen and (max-width: 1128px) {
  .about__header {
    flex-direction: column;
  }
  .about__img {
    margin-bottom: 20px;
    margin-top: 20px;
  }

}
@media screen and (max-width: 786px) {
  

}
